/* Soluzione qui */

/* Large Mobile Mode */
@media screen and (min-width: 576px) {
    .social-networks button {
        width: 100%;
    }

    .presentation img {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}


/* Tablet Mode */
@media screen and (min-width: 768px) {
    #topbar {
        justify-content: start;
    }

    main {
        padding: 45px;
    }

    .recipe-name {
        font-size: 2rem;

        .recipe-origin {
            display: inline;
        }
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 30%;
        }
    }

    .social-networks button {
        width: 100%;
    }

    .ads {
        display: block;
    }

    .presentation img {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
    }


}

/* Desktop Mode */
@media screen and (min-width: 992px) {
    .recipe-name {
        font-size: 2.5rem;
    }

    .quick-notes ul {
        flex-direction: column;

        li {
            width: 100%;
        }
    }

    .recipe-card {
        display: flex;

        .recipe-video {
            flex: 0 0 65%;
        }

        .recipe-info {
            flex: 1;
        }
    }

    .social-networks .label {
        display: inline;
    }

    footer {
        display: flex;
        justify-content: space-between;

        address {
            text-align: left;
        }

    }
}